---
---

<!DOCTYPE html>
<html>
	<head>
    <link rel="stylesheet" href="CSS/styles.css">  
		<title>Portfolio Homepage</title>
	</head>
  <body>

    {% include navbar.html %}

    <div id="welcome" class="div1">
      <h1>Colin Welsh</h1>
      <img id="professionalPhoto" src="Photos/Professional_Photo.png">
      <p>Hello! My name is Colin Welsh. I am a mechanical engineering major at Rose-Hulman Institute of Technology with a minor in computer science. I love puzzles and problem-solving and enjoy any kind of design work I can get my hands on.</p>
    </div>

    {% include footer.html %}

  </body>
</html>
