---
---

<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="CSS/styles.css">
		<title>Portfolio Homepage</title>
    </head>
    <body>

        {% include navbar.html %}

        <div id="projectDisplay" class="div1">
            <h1>Projects</h1>
            <h2>KIC Mini Golf Senior Capstone</h2>
            <p>This project is a mini golf hole, intended to be played by prospective visiting students as well as anyone else on Rose-Hulman's campus. The hole includes a Plinko board and various electro-mechanical systems to allow for keeping score and to add a little extra fun and surprise to the experience. <a href="https://kic-mini-golf.netlify.app/">A website that showcases the main components of the project</a> is currently being developed.</p>
            <div id="explode">
                <img id="assemblyImage" class="plinko" src="Photos/mini_golf_assembly.png">
                <video id="plinkoVideo" class="plinko hidden" muted src="Videos/animate_explode.mp4" type="video/mp4">
                </video>
            </div>
        </div>

        {% include footer.html %}

    </body>
    <script>
    // Create variables for the exploded plinko view
    const img = document.getElementById("assemblyImage");
    const video = document.getElementById("plinkoVideo");

    // Changes an image to a video, will be used for exploded views
    function videoHover() {
        img.classList.add("hidden");
        video.classList.remove("hidden");
        video.play();
    }

    // Changes the video back to an image when hover ends
    function videoUnhover() {
        img.classList.remove("hidden");
        video.classList.add("hidden");
        video.pause();
        video.currentTime = 0;
    }

    </script>
</html>
