---
---

<!DOCTYPE html>
<html>
	<head>
		<title>Work and Education</title>
	</head>
  <body>

    {% include navbar.html %}

    <div class="div1">
        <h1>Work Experience and Education</h1>
    </div>
    <div>
        <h2>Education:</h2>
        <p><strong>Bachelor of Science, Mechanical Engineering</strong>, May 2026</p>
        <p><strong>Minor in Computer Science</strong></p>
        <p><em>Rose-Hulman Institute of Technology</em>, Terre Haute, IN, <strong>GPA: 3.52</strong></p>
        <p></p>
        <p><strong><em>Related Courses:</em></strong> Thermodynamics, Graphical Communications, Machine Component Design, Intro to Design, Statics and Mechanics of Materials II, Design for Manufacturing, Database Systems, Data Structures and Algorithm Analysis, Fluid Systems, Control Systems, Mechanical Systems, Electrical Systems, Measurement Systems, Heat Transfer, Finite Element Analysis, Mechatronics Systems, Robotics Engineering</p>
    </div>

    <div class="div2">
      <h2>Skills:</h2>
      <ul>
        <li><strong>Professional Skills:</strong>
            <ul>
                <li>Problem Solving</li>
                <li>Analytical Skills</li>
            </ul>
        </li>
        <li><strong>Analytical Software:</strong>
            <ul>
                <li>MATLAB</li>
                <li>SolidWorks</li>
                <li>ANSYS</li>
                <li>Microsoft Office</li>
            </ul>
        </li>
        <li><strong>Programming:</strong>
            <ul>
                <li>Java</li>
                <li>Python</li>
                <li>SQL Server</li>
                <li>RStudio</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>HTML</li>
            </ul>
        </li>
      </ul>
    </div>
    <div class="div3">
        <h2>Internship Experience:</h2>
        <p><strong>Royal Truck and Equipment</strong>, Shoemakersville, PA</p>
        <p><em>Mechanical Engineering Intern</em></p>
        <ul>
            <li>Created an assembly of hydraulic fittings along with a ballooned bill of materials in Microsoft Word to facilitate the movement of a side dump truck body</li>
            <li>Designed custom mounting brackets using SolidWorks for a variety of truck accessories</li>
            <li>Designed a full truck body in SolidWorks using over 50 components, including sheet metal parts and structural supports, based on a model with the dimensions of the body</li>
        </ul>
        <p><strong>Carpenter Technology Corporation</strong>, Reading, PA</p>
        <p><em>Reliability Engineering Intern</em></p>
        <ul>
            <li>Observed and analyzed the efficiency of bar peeling machines and made recommendations to improve machine output</li>
            <li>Increased tool life and machine efficiency by re-dimensioning tooling based on machine schematics and processes</li>
            <li>Designed preventative maintenance activities for bar peelers and saws to combat causes of machine breakdowns</li>
        </ul>
        <p><strong>Royal Truck and Equipment</strong>, Shoemakersville, PA</p>
        <p><em>Mechanical Engineering Intern</em></p>
        <ul>
            <li>Used SolidWorks to assess and model design changes for construction man baskets</li>
            <li>Designed and implemented brackets/mounts for basket accessories (jacks, hoists, etc.)</li>
            <li>Created SolidWorks drawings, dimensioning and detailing the assembly of each basket, which are now used to assemble the baskets</li>
        </ul>
    </div>

    {% include footer.html %}

  </body>
</html>